.custom-card {
    margin-top: 10px;
    overflow: hidden; /* Hide overflow for the zoom effect */
    position: relative; /* Relative positioning for absolute overlay */
    cursor: pointer; /* Change cursor on hover */
    transition: transform 0.3s; /* Smooth transform transition on hover */
    width: 300px; /* Set the width of the card */
    height: 300px; /* Set the height of the card */
}

.custom-card .card-img {
    transition: transform 0.3s; /* Smooth transform transition on hover for image */
    width: 100%; /* Ensure the image takes up the full width of the card */
    height: 100%; /* Ensure the image takes up the full height of the card */
}

.custom-card:hover {
    transform: scale(1.05); /* Zoom in on hover */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Fade in transition */
}

.custom-card:hover .overlay {
    opacity: 1; /* Fade in overlay on hover */
}

.overlay-text {
    white-space: nowrap; /* Prevent text wrapping */
}