{% extends 'base.html' %}
{% block title %}@shu.cl0ud{% endblock %}


{% block content %}

{{ block.super }} 
<div class="container">
    <div class="row">
        <div class="col-md-4 custom-card">
            <div class="card">
                <img src="https://via.placeholder.com/50" class="card-img" alt="Card Image">
                <div class="overlay">
                    <h3>ChatBot</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 custom-card"><a href="location/add_location">
            <div class="card">
                <img src="https://via.placeholder.com/50" class="card-img" alt="Card Image">
                <div class="overlay">
                    <h3>Map URL generator</h3>
                </div>
            </div></a>
        </div>
        <div class="col-md-4 custom-card">
            <div class="card">
                <img src="https://via.placeholder.com/50" class="card-img" alt="Card Image">
                <div class="overlay">
                    <h3>Trading</h3>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}  

